body{
    margin: 0;
}
section {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.top-color {
    height: 3rem; 
    background-color: rgb(80, 80, 237);
}

.text-center {
    text-align: center;
}

.email {
    padding-right: 2rem;
}

img {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 2rem;
    transition: transform 1.2s;
}

img:hover {
    transform: scale(2.5);
}

.linkedin {
    padding-left: 2rem;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    transition: transform 1.2s;
}

.skill-container-1:hover {
    animation-name: spin1;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
}

.skill-container-2:hover {
    animation-name: spin2;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
}

.skill-container-3:hover {
    animation-name: spin3;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
}

.job-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

hr {
    /* height: 1px; */
    height: .3rem;
    flex-grow: 1;
    background-color: rgb(80, 80, 237);
}

h1, h4 {
    font-family: 'Roboto', sans-serif;
}

.heading-section {
    padding: 0 2rem;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    width: 80%;
}

.align-center {
    justify-content: center;
}

.grid-x {
    display: flex;
}

.button-container {
    gap: 2rem;
}

button {
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 10px;
    border-color: rgb(80, 80, 237);
    color: rgb(80, 80, 237);
    font-weight: bold;
}

button:hover {
    background-color: rgb(80, 80, 237);
    color: white;
    font-weight: bold;
}


.professional-resume {
    display: none;
    background-color: red;
}

.real-life-resume {
    display: none;
}


@keyframes spin1 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

@keyframes spin3 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
